$mobile-page-header-font-size:1.5rem;
$mobile-page-header-line-height:2rem;
$mobile-section-header-font-size:0.75rem;
$mobile-section-header-line-height:1.25rem;
$mobile-subheader-body-font-size:0.8125rem;
$mobile-subheader-body-line-height:1.125rem;
$mobile-labels-buttons-font-size:0.625rem;
$mobile-labels-buttons-line-height:1.25rem;

$button-default-color:#0095FF;
$button-hover-color:#0065AD;

$form-default-filled-border:1px;
$form-default-filled-color:#E1E1E1;
$form-active-border:2px;
$form-active-color:#0095FF;
$form-error-border:1px;
$form-error-color:#D22D2D;

$form-background-color:#FAFAFA;

$primary-text-color:#323232;