$mobile-page-header-font-size:1.5rem;
$mobile-page-header-line-height:2rem;
$mobile-section-header-font-size:0.75rem;
$mobile-section-header-line-height:1.25rem;
$mobile-subheader-body-font-size:0.8125rem;
$mobile-subheader-body-line-height:1.125rem;
$mobile-labels-buttons-font-size:0.625rem;
$mobile-labels-buttons-line-height:1.25rem;
