@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";
.next-videos{
    padding-left:1rem;
    padding-right:1rem;
    &__title{
        font-family: avenir;
        font-size: $mobile-subheader-body-font-size;
        line-height: $mobile-subheader-body-line-height;
        color:$secondary-text-color;
        font-weight:600;
    }
    &__display{
        &-video{
            margin-top: 1rem;
            height:4rem;
            @include flex(row,flex-start,center);
            &-left-image{
               height:100%;
               border-radius: 4px;
            }
            &-right{
                @include flex(column,space-between,flex-start);
                height:100%;
                margin-left: 1rem;
                font-family: avenir;
                font-size: $mobile-subheader-body-font-size;
                line-height: $mobile-subheader-body-line-height;
                color: $primary-text-color;
                font-weight: 400;
                &-top{
                    font-weight: 600;
                }
                &-bottom{

                }
            }
        }
    }
}