@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";

.mainBottom__next-videos {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: avenir;
    font-size: $mobile-subheader-body-font-size;
    line-height: $mobile-subheader-body-line-height;
    margin-bottom: 1rem;

    @include tablet {
        font-size: $tablet-desktop-subheader-body-font-size;
        line-height: $tablet-desktop-subheader-body-line-height;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    @include desktop {
        font-size: $tablet-desktop-subheader-body-font-size;
        line-height: $tablet-desktop-subheader-body-line-height;
        width: 35vw;
        padding-left: 1.5rem;
        padding-right: 6rem;
        border-left: 1px solid #E1E1E1;
        margin-top: 2.25rem;
    }

    &-title {
        color: $secondary-text-color;
        font-weight: 700;
    }

    &-display {
        width: 100%;

        &-video {
            margin-top: 1rem;
            height: 5rem;
            width: 100%;
            @include flex(row, flex-start, center);
            @include tablet{
                margin-top:1.5rem;
            }
            @include desktop{
                margin-top:1.5rem;
            }

            &-left-image {
                height: 100%;
                width: 15%;
                max-width: 9rem;
                min-width: 9rem;

                @include desktop {
                    width: 40%;
                }

                &>img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    background-color: #E1E1E1;
                }
            }


            &-right {
                @include flex(column, space-between, flex-start);
                height: 100%;
                margin-left: 1rem;
                color: $primary-text-color;
                font-weight: 400;

                @include desktop {
                    width: 60%;
                }

                &-top {
                    font-weight: 700;
                }
            }
        }
    }
}