@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets";
.header{
    width:100%;
    padding:1rem;
    &__logo-title-container{
        width:100%;
        padding:1rem;
        background-image: url("../../assets/logo/BrainFlix-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    &__search-avatar-container{
      @include flex(row,center,center);
    }
    &__search{
        width:100%;
        background-image: url("../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 5% center;
        padding:1rem 0 1rem 4rem;
        border-radius: 4px;
    }
    &__avatar{
        width:3rem;
        height:3rem;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: -0.3rem;
        border-radius:50% ;
    }
    &__upload-button{
        width:100%;
        padding:1rem;
        background-image: url("../../assets/icons/upload.svg");
        background-repeat: no-repeat;
        background-position: 4% center;
        border-radius: 4px;
    }
}