@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";
.header{
    width:100vw;
    padding:1rem;
    @include tablet{
        @include flex(row,flex-end,center);
        padding:1.5rem;
    }
    @include desktop{
        @include flex(row,flex-end,center);
        padding:1.5rem;
        padding-left:6rem;
        padding-right:6rem;
    }
    &__logo{
        width:7.4rem;
        height:1.5rem;
        margin:0 auto;
        background-image: url("../../assets/images/logo/BrainFlix-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin-bottom:1rem;
        @include tablet{
            margin-bottom: 0;
            margin:0;
            position: absolute;
            left:1.5rem;
          }
          @include desktop{
            margin-bottom: 0;
            margin:0;
            position: absolute;
            left:6rem;
          }
    }
    &__search-avatar-container{
        width:100%;
      @include flex(row,space-between,center);
      margin-bottom:1rem;
      @include tablet{
        margin-bottom: 0;
        @include flex(row,center,center);
        width:30%;
        margin-left:5rem;
      }
      @include desktop{
        margin-bottom: 0;
        @include flex(row,center,center);
        width:30%;
        margin-left:30rem;
      }
    }
    &__search{
        width:90%;
        min-width:15rem;
        height:2.5rem;
        background-image: url("../../assets/images/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 5% center;
        border-radius: 4px;
        padding:0.75rem;
        text-indent: 2.5rem;
        border: $form-default-filled-border solid $form-default-filled-color;
        background-color: $form-background-color;
        &:focus{
            outline:none;
            border: $form-active-border solid $form-active-color;
        }
        &::placeholder{
            font-size:$mobile-subheader-body-font-size;
            line-height:$mobile-subheader-body-line-height;
            font-family: avenir;
            font-style: normal;
            font-weight: 400;
            color:$primary-text-color;
        }
        @include tablet{
          width:100%;
          padding:1rem;
          margin-right:4rem;
          &::placeholder{
            font-size:$tablet-desktop-subheader-body-font-size;
            line-height:$tablet-desktop-subheader-body-line-height;
          }
        }
        @include desktop{
          width:70%;
          padding:1rem;
          &::placeholder{
            font-size:$tablet-desktop-subheader-body-font-size;
            line-height:$tablet-desktop-subheader-body-line-height;
          }
        }
    }
    &__avatar{
        width:2.2rem;
        height:2.2rem;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: -0.3rem;
        border-radius:50%;
        background-color: #E1E1E1;
        @include tablet{
            &-mobile{
                display:none;
            }
        }
        @include desktop{
            &-mobile{
                display:none;
            }
        }
    }
    &__upload-button{
        width:100%;
        height:2.5rem;
        border:0;
        background-image: url("../../assets/images/icons/upload.svg");
        background-repeat: no-repeat;
        background-position: 4% center;
        background-size: $mobile-labels-buttons-font-size;
        border-radius: 4px;
        font-size:$mobile-labels-buttons-font-size;
        line-height:$mobile-labels-buttons-line-height;
        font-family: avenir;
        font-style: normal;
        font-weight: 700;
        background-color: $button-default-color;
        color:#FFFFFF;
        &:hover{
            background-color: $button-hover-color;
        }
        @include tablet{
            width:22%;
            min-width:9.375rem;
            padding-left:2.2rem;
            padding-right:2.2rem;
            font-size:$tablet-desktop-labels-buttons-font-size;
            line-height:$tablet-desktop-labels-buttons-line-height;
            background-size: $tablet-desktop-labels-buttons-font-size;
            margin-right:1.5rem;
        }
        @include desktop{
            width:15%;
            min-width:9.375rem;
            padding-left:2.2rem;
            padding-right:2.2rem;
            font-size:$tablet-desktop-labels-buttons-font-size;
            line-height:$tablet-desktop-labels-buttons-line-height;
            background-size: $tablet-desktop-labels-buttons-font-size;
            margin-right:2rem;
        }
    }
}
