@use "../../styles/partials/mixins" as *;
// @use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";
.header{
    width:100%;
    padding:1rem;
    &__logo-title-container{
        width:7.4rem;
        height:1.5rem;
        margin:0 auto;
        background-image: url("../../assets/images/logo/BrainFlix-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        margin-bottom:1rem;
    }
    &__search-avatar-container{
        width:100%;
      @include flex(row,space-between,center);
      margin-bottom:1rem;
    }
    &__search{
        width:90%;
        min-width:15rem;
        height:2.5rem;
        background-image: url("../../assets/images/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 5% center;
        border-radius: 4px;
        padding:0.75rem;
        text-indent: 2.5rem;
        border: $form-default-filled-border solid $form-default-filled-color;
        background-color: $form-background-color;
        &:focus{
            outline:none;
            border: $form-active-border solid $form-active-color;
        }
        &::placeholder{
            font-size:$mobile-subheader-body-font-size;
            line-height:$mobile-subheader-body-line-height;
            font-family: avenir;
            font-style: normal;
            font-weight: 400;
            color:$primary-text-color;
        }
    }
    &__avatar{
        width:2.2rem;
        height:2.2rem;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: -0.3rem;
        border-radius:50%;
        background-color: #E1E1E1;
    }
    &__upload-button{
        width:100%;
        height:2.5rem;
        border:0;
        background-image: url("../../assets/images/icons/upload.svg");
        background-repeat: no-repeat;
        background-position: 4% center;
        background-size: $mobile-labels-buttons-font-size;
        border-radius: 4px;
        font-size:$mobile-labels-buttons-font-size;
        line-height:$mobile-labels-buttons-line-height;
        font-family: avenir;
        font-style: normal;
        font-weight: 700;
        background-color: $button-default-color;
        color:#FFFFFF;
        &:hover{
            background-color: $button-hover-color;
        }
    }
}
