@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";
.video-details{
    width:100%;
    &__play{
        width:100%;
        margin-bottom:1.5rem;
    }
    &__title{
        width:100%;
        padding-left:1rem;
        padding-right:1rem;
        margin-bottom:1rem;
        font-family: avenir;
        font-size:$mobile-page-header-font-size;
        line-height: $mobile-page-header-line-height;
        font-weight: 700;
        color:$primary-text-color;
    }
}