@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/topography";

.video-details {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    @include tablet{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @include desktop{
        width:70%;
        padding-right: 0;
        padding-left: 8rem;
        border-right:1px solid #E1E1E1;
    }

    &-title {
        width: 100%;
        margin-bottom: 1rem;
        font-family: avenir;
        font-size: $mobile-page-header-font-size;
        line-height: $mobile-page-header-line-height;
        font-weight: 700;
        color: $primary-text-color;
        margin-top:1.5rem;
        @include tablet {
            font-size: $tablet-desktop-page-header-font-size;
            line-height: $tablet-desktop-page-header-line-height;
            margin-top:2.25rem;
        }

        @include desktop {
            font-size: $tablet-desktop-page-header-font-size;
            line-height: $tablet-desktop-page-header-line-height;
            padding-top:2.25rem;
            margin-top:0;
        }
    }

    &-description {
        font-family: avenir;
        font-size: $mobile-subheader-body-font-size;
        line-height: $mobile-subheader-body-line-height;
        color: $primary-text-color;
        margin-bottom: 1rem;

        @include tablet {
            font-size: $tablet-desktop-subheader-body-font-size;
            line-height: $tablet-desktop-subheader-body-line-height;
        }

        @include desktop {
            font-size: $tablet-desktop-subheader-body-font-size;
            line-height: $tablet-desktop-subheader-body-line-height;
            margin-right:2rem;
        }
    }

    &-comments {
        &-title {
            font-family: avenir;
            font-size: $mobile-subheader-body-font-size;
            line-height: $mobile-subheader-body-line-height;
            color: $primary-text-color;
            font-weight: 700;
            margin-bottom: 1rem;

            @include tablet {
                font-size: $tablet-desktop-subheader-body-font-size;
                line-height: $tablet-desktop-subheader-body-line-height;
            }

            @include desktop {
                font-size: $tablet-desktop-subheader-body-font-size;
                line-height: $tablet-desktop-subheader-body-line-height;
            }
        }
    }
}